
.LatestEvent{
    background: palegoldenrod;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 0px 10px;

}
.OngoingContest{
    background: palegoldenrod;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 0px 10px;
}